{{> header}}
<main>
  <p>You should only be able to see this page if logged in.</p>
  <p>Currently, you are {{#unless isLoggedIn}} NOT {{/unless}} logged in.</p> {{username}}
  <p>Use the header above to {{#if isLoggedIn}} logout{{else}} login or create an account{{/if}}.</p>
  <section>
    <h1>Your Favorites</h1>

    {{#if favorites.length}}
    {{#each favorites}}
    <div>
      <h2>{{name}}</h2>
      <img src="{{images.[0].url}}" width="300px">
      <p>{{states}}</p>
      <!-- Add other favorite details as needed -->
    </div>
    {{/each}}
    {{else}}
    <p>No favorites added yet.</p>
    {{/if}}
  </section>
</main>