{{> header}}
<main>
  <section>
    <h1>Your Favorites</h1>
    <p>Hi {{this.username}}, below is a list of your favorite parks.</p>
    <p>Click on <span class="favorite-icon-true">&#10084;</span> to remove a favorite.</p>

    {{#each favoriteParks}}
    <div class="favcon">
      <div class="favtitle">
        <p>
          <hr>
        </p>
        <h2>{{this.name}}, {{this.states}}&nbsp; <span class="favorite-icon-true removeFavorite" type="submit"
            id="{{id}}">&#10084;</span></h2>
      </div>
      <div class="favcol">
        <img src="{{this.images.[0].url}}">
        <p><a href="{{this.url}}" class="body" title="Opens in new tab" target="_new">Visit Park on NPS.com &#x2197;</a>
        </p>
        <br><b style="text-align: left; margin-left: 40px;">My Notes</b>
        <br>
        <form action="/addNote" method="POST">
          <input type="hidden" name="id" value="{{id}}">
          <textarea name="note" placeholder="Add or update a note">{{this.notes}}</textarea>
          <p><button type="submit">Save Note</button></p>
        </form>
      </div>
    </div>
    {{/each}}
  </section>
</main>
<script>
  document.addEventListener('click', removeFavorite);
  function removeFavorite(event) {
    var element = event.target;
    if (!element.classList.contains('removeFavorite')) return
    const parkId = element.id;

    const removeFavorite = element.closest('.favcon');
    if (removeFavorite) {
      removeFavorite.remove();
      fetch("/removeFavorite", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ id: parkId }),
      })
        .then(response => response.json(id))
        .catch(error => {
          console.error("Error removing park:", error);
        });
    }
  }
</script>